header{
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: white;
  
  div:nth-child(2){ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    #search-bar{
      padding: 10px 20px;
      border: 1px solid rgb(204, 204, 204);
      width: 220px;
    }
    .icons{
      width: 220px;
      text-align: right;
      .fa-xl{
        margin-left: 20px;
        color: black;
        border-top: none;
      }
    }
    

  }
  
  .nav{
    height: 40px;
    background-color: white;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    nav a{
      margin: 0 20px;
      color: black;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

}



















